node_modules/
node_modules_/
wwwroot/
coverage/
test/**/*
scripts/
output/
.idea/
npm-debug.log
Thumbs.db
.DS_Store
.npmrc
.nyc_output
*.swp
*.bat
yarn.lock
mochawesome-report
atomic-index.json
basic-index.json
